*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/app/src/main/assets/test_1.avif
/app/src/main/assets/test_2.avif
/app/src/main/assets/test_3.avif
/app/src/main/assets/test_4.avif
/app/src/main/assets/test_5.avif
/aom/
/dav1d/
/x265/
/libde265/
/libheif/
/libyuv
/libyuv/build-arm64-v8a/CPackConfig.cmake
/libyuv/build-armeabi-v7a/CPackConfig.cmake
/libyuv/build-x86_64/CPackConfig.cmake
/libyuv/build-arm64-v8a/CPackSourceConfig.cmake
/libyuv/build-armeabi-v7a/CPackSourceConfig.cmake
/libyuv/build-x86_64/CPackSourceConfig.cmake
/libyuv/build-arm64-v8a/libyuv.so
/libyuv/build-armeabi-v7a/libyuv.so
/libyuv/build-x86_64/libyuv.so
/libyuv/build-arm64-v8a/Makefile
/libyuv/build-armeabi-v7a/Makefile
/libyuv/build-x86_64/Makefile
/libyuv/build-arm64-v8a/yuvconstants
/libyuv/build-armeabi-v7a/yuvconstants
/libyuv/build-x86_64/yuvconstants
libyuv